/*car: determine container space between header and footer*/
.car-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    height: calc(100vh - 90px - 75px);
    width: 100%;
}

.car-form {
    width: 100%;
}

.car-form section {
    display: flex;
}

/*div box contains div1:Customer ID  div2:Car ID and div3:License Plate Number*/
.car-form-div-box {
    display: inline-flex;
    min-width: 100%;
}

/*position div1:Customer ID left next to other input fields*/
.car-form-input-section1 {
    display: inline-flex;
    justify-content: flex-end;
    min-width: calc(50% - 250px);
}

/*position div2: Car ID and div3: License Plate Number left and right side of container of 500px wide*/
.car-form-input-section2 {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;
}

.field-message {
    position: absolute;
    margin-top: 5px;
    color: red;
}

/*set margin between div1:Customer Id and div3:Car ID*/
.car-form-div1 {
    margin-right: 50px;
}

/*position other inputfields vertically: Brand, Model, YearOfConstruction, APK exp date and File Location*/
.car-form-input-section3 {
    flex-direction: column;
}

/*set margin of 20px for bottom and top between inputfields*/
.car-form-input-section3 section {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 100%;
}

/*positioning box for carpaper buttons open and upload*/
.car-form-carpaper-buttons-box {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

/*positioning carpaper buttons open and upload*/
.car-form-carpaper-buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

/*style inputfields 225px wide*/
.form-car-input-component {
    width: 225px;
    height: 20px;
    border: 1px solid black;
}

/*style inputfields 225px wide*/
.form-car-input-component:read-only {
    width: 225px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}