/*Homepage Button styling*/
.homepage-button {
    background-color: white;
    height: 125px;
    width: 125px;
    cursor: pointer;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border-color: white;
}

/*Homepage Button styling - hover*/
.homepage-button:hover {
    filter: opacity(0.80);
}

/*Homepage Button styling - active*/
.homepage-button:active {
    filter: opacity(0.50);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}


@media screen and (min-width: 1200px) {
    .homepage-button {
        height: 150px;
        width: 150px;
    }
}

@media screen and (min-width: 1600px) {
    .homepage-button {
        height: 200px;
        width: 200px;
    }
}


/*Transaction - Home Button styling*/
.transaction-home-button {
    background-color: #C4D3EA;
    height: 75px;
    width: 125px;
    cursor: pointer;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border: 1px solid black;
}

/* Transaction Home button styling hover*/
.transaction-home-button:hover {
    filter: opacity(0.80);
}

@media screen and (min-width: 1200px) {
    .transaction-home-button {
        height: 100px;
        width: 150px;
    }
}


@media screen and (min-width: 1600px) {
    .transaction-home-button {
        height: 125px;
        width: 200px;
    }
}

/*Home small Button styling, used in serviceLine*/
.transaction-home-small-button {
    background-color: #C4D3EA;
    height: 70px;
    width: 125px;
    cursor: pointer;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border: 1px solid black;
}

@media screen and (min-width: 1200px) {
    /*Home small Button styling, used in serviceLine*/
    .transaction-home-small-button {
        height: 85px;
        width: 150px;
    }
}


@media screen and (min-width: 1600px) {
    /*Home small Button styling, used in serviceLine*/
    .transaction-home-small-button {
        height: 100px;
        width: 175px;
    }
}


/*Footer Button styling*/
.footer-back-button {
    background-color: #C4D3EA;
    height: 40px;
    width: 120px;
    cursor: pointer;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border: 1px solid black;
}

/*Footer button styling hover */
.footer-back-button:hover {
    filter: opacity(0.80);
}

/*Confirm Button styling*/
.confirm-button {
    background-color: #C4D3EA;
    height: 40px;
    width: 120px;
    cursor: pointer;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border: 1px solid black;
}

/*Confirm button styling hover */
.confirm-button:hover {
    filter: opacity(0.80);
}

/*position confirm button, applicable for all screens*/
.confirm-button {
    position: fixed;
    bottom: 105px;
    right: 20px;
}

/*Confirm button styling*/
.confirm-button span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/*Confirm button styling*/
.confirm-button img {
    margin-left: 10px;
}


/*car button (open and upload) styling*/
.car-button {
    background-color: #C4D3EA;
    height: 35px;
    width: 160px;
    cursor: pointer;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border: 1px solid black;
}

/*car button (open and upload) styling hover */
.car-button:hover {
    filter: opacity(0.80);
}

/*car button (open and upload)  positioning*/
.car-button span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/*car button (open and upload) img*/
.car-button img {
    margin-left: 10px;
}


@media screen and (min-width: 1200px) {
    .car-button {
        height: 35px;
        width: 175px;
    }
}

@media screen and (min-width: 1600px) {
    .car-button {
        height: 40px;
        width: 225px;
    }
}


/*Confirm Button - Service styling*/
.confirm-button-service {
    background-color: #C4D3EA;
    height: 40px;
    width: 125px;
    cursor: pointer;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border: 1px solid black;
}

@media screen and (min-width: 1200px) {
    /*Confirm Button Service styling*/
    .confirm-button-service {
        height: 40px;
        width: 150px;
    }
}

@media screen and (min-width: 1600px) {
    /*Confirm Button Service styling*/
    .confirm-button-service {
        height: 40px;
        width: 175px;
    }
}

/*Confirm button styling hover */
.confirm-button-service:hover {
    filter: opacity(0.80);
}


.confirm-button-service {
    margin-left: 100px;
}

/*Footer button positioning*/
.confirm-button-service span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.confirm-button-service img {
    margin-left: 10px;
}
