/*serviceline home: determine container/space between header and footer*/
.serviceline-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 75px;
    width: 100%;
    overflow: auto;
}

.serviceline-form {
    display: inline-flex;
    margin-top: 20px;
}

.serviceline-form section {
    margin: 5px;
}

.serviceline-form-section1 {
    display: inline-flex;
    flex-direction: column;
}

.serviceline-form-section2 {
    display: inline-flex;
    flex-direction: column;
}

/*position div2: Item ID and div3: Item Type left and right side of container of 500px wide*/
.serviceline-form-input-section2 {
    display: flex;
    justify-content: space-between;
    width: 350px;
}


/*style inputfields Item ID and Item Type 225px wide*/
.form-serviceline-input-component {
    width: 165px;
    height: 20px;
    border: 1px solid black;
}

/*style inputfields Item ID and Item Type 225px wide*/
.form-serviceline-input-component:read-only {
    width: 165px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}


/*style inputfields 225px wide within section 1*/
.form-serviceline-input-component-section1 {
    width: 165px;
    height: 20px;
    border: 1px solid black;
}


/*style inputfields 225px wide within section 1*/
.form-serviceline-input-component-section1:read-only {
    width: 165px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}

/*style inputfields 500px wide within section 2*/
.form-serviceline-input-component-section2 {
    width: 350px;
    height: 20px;
    border: 1px solid black;
}

/*style inputfields 500px wide within section 2*/
.form-serviceline-input-component-section2:read-only {
    width: 350px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}


/*for screens wider than 1200px */
@media screen and (min-width: 1200px) {
    .serviceline-form section {
        margin: 15px;
    }

    /*position div2: Item ID and div3: Item Type left and right side of container of 400px wide*/
    .serviceline-form-input-section2 {
        width: 400px;
    }


    /*style inputfields Item ID and Item Type 175px wide*/
    .form-serviceline-input-component {
        width: 180px;
    }

    /*style inputfields Item ID and Item Type 175px wide*/
    .form-serviceline-input-component:read-only {
        width: 180px;
    }


    /*style inputfields 175px wide within section 1*/
    .form-serviceline-input-component-section1 {
        width: 180px;
    }


    /*style inputfields 175px wide within section 1*/
    .form-serviceline-input-component-section1:read-only {
        width: 180px;
    }

    /*style inputfields 400px wide within section 2*/
    .form-serviceline-input-component-section2 {
        width: 400px;
    }

    /*style inputfields 400px wide within section 2*/
    .form-serviceline-input-component-section2:read-only {
        width: 400px;
    }
}

/*for screens wider than 1600px*/
@media screen and (min-width: 1600px) {
    .serviceline-form section {
        margin: 20px;
    }

    /*position div2: Item ID and div3: Item Type left and right side of container of 500px wide*/
    .serviceline-form-input-section2 {
        width: 500px;
    }


    /*style inputfields Item ID and Item Type 225px wide*/
    .form-serviceline-input-component {
        width: 225px;
    }

    /*style inputfields Item ID and Item Type 225px wide*/
    .form-serviceline-input-component:read-only {
        width: 225px;
    }


    /*style inputfields 225px wide within section 1*/
    .form-serviceline-input-component-section1 {
        width: 250px;
    }


    /*style inputfields 225px wide within section 1*/
    .form-serviceline-input-component-section1:read-only {
        width: 250px;
    }

    /*style inputfields 500px wide within section 2*/
    .form-serviceline-input-component-section2 {
        width: 500px;
    }

    /*style inputfields 500px wide within section 2*/
    .form-serviceline-input-component-section2:read-only {
        width: 500px;
    }
}