/*item home: determine container/space between header and footer*/
.item-home-container {
    padding-top: 90px;
    height: calc(100vh - 90px - 75px);
    width: 100%;
}


/*item home: position filters Customer ID and Lastname*/
.item-home-filter section {
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}

/*customer home: position transaction window and buttons: display, create, change and delete*/
.item-home-transaction-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*customer home: position transaction window*/
.item-home-display-container {
    margin-left: 100px;
    margin-top: 20px;
    min-height: calc(100vh - 90px - 50px - 20px - 75px - 75px);
    height: 500px;
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}

/*customer home: position buttons: display, create, change and delete*/
.item-home-buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: calc(100vh - 90px - 50px - 20px - 75px - 75px);
}

/*set table width for headers in transaction window, border-spacing 0*/
.item-home-container-table {
    overflow: hidden;
    top: 0;
    width: 100%;
    border-spacing: 0;
}

/*fix header at top of transaction window */
th {
    position: sticky;
    top: 0;
    background-color: white;
    text-align: left;
    border-bottom: 1px solid black;
}
