/*customer home: determine container/space between header and footer*/
.customer-create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    height: calc(100vh - 90px - 75px);
    width: 100%;
}

.customer-create-form {
    display: flex;
    flex-direction: column;
}

.customer-create-form section {
    margin: 20px;
    height: 100%;
}

.create-input-component {
    width: 500px;
    height: 20px;
}

.create-input-component-customerId {
    width: 500px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}
