/*customer home: determine container/space between header and footer*/
.customer-home-container {
    padding-top: 90px;
    height: calc(100vh - 90px - 75px);
    width: 100%;
}

/*customer home: position filters Customer ID and Lastname*/
.customer-home-filter section {
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}

/*customer home: position transaction window and buttons: display, create, change and delete*/
.customer-home-transaction-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*customer home: position transaction window*/
.customer-home-display-container {
    margin-left: 100px;
    margin-top: 20px;
    min-height: calc(100vh - 90px - 50px - 20px - 75px - 75px);
    width: 100%;
    border: 1px solid black;
}

/*customer home: position buttons: display, create, change and delete*/
.customer-home-buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: calc(100vh - 90px - 50px - 20px - 75px - 75px);
}

/*set table width for headers in transaction window*/
table {
    width: 100%;
}

/*set header position in table*/
.customer-home-table-header {
    min-width: auto;
    text-align: left;
    border-bottom: 1px solid black;
}

