/*positiong of label and inputfield (label above inputfield)*/
label, input {
    display: flex;
    flex-direction: column;
}


/*set margin between label and inputfield*/
label {
    margin-bottom: 2px;
}

