/*service create: determine container/space between header and footer*/
.service-create-container {
    padding-top: 90px;
    height: calc(100vh - 90px - 75px);
    width: 100%;
}

/*service display: position box filters and width calculation: 100px left, 100px left-side button, 175px button, 100px right-side button*/
.service-create-filter {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    width: calc(100% - 200px - 175px - 100px);
    flex-wrap: wrap;
}

.service-create-input-component {
    border: 1px solid black;
}

.service-create-input-component-idService {
    background-color: #C4C4C4;
    border: 1px solid black;
}


/*service display: position filters*/
.service-create-filter section {
    margin-top: 50px;
}


/*calculate the width of the text area box 100px left, 100px left-side button, 175px button, 100px right-side button, + 175px confirm-button + 100px margin-left confirm button*/
.create-text-field-issues {
    display: inline-flex;
    width: calc(100% - 200px - 175px - 100px + 175px + 100px);
    margin-left: 100px;
    margin-top: 40px;
}

/*set textarea width to 100%*/
.create-text-field-issues textarea{
    width: 100%;
    border: 1px solid black;
}

/*position confirm-button-service*/
.confirm-button-service-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/*service create: position transaction window and buttons: display, create, change and delete*/
.serviceline-create-transaction-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*service create: position transaction window*/
.serviceline-create-display-container {
    margin-left: 100px;
    margin-top: 40px;
    min-height: calc(100vh - 90px - 50px - 20px - 75px - 75px - 150px);
    height: 300px;
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}

/*service home: position buttons: display, create, change and delete*/
.serviceline-create-buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: calc(100vh - 90px - 50px - 20px - 75px - 75px - 150px);
}

/*set table width for headers in transaction window, border-spacing 0*/
.serviceline-create-container-table {
    overflow: hidden;
    top: 0;
    width: 100%;
    border-spacing: 0;
}

/*fix header at top of transaction window */
th {
    position: sticky;
    top: 0;
    background-color: white;
    text-align: left;
    border-bottom: 1px solid black;
}