/*service home: determine container/space between header and footer*/
.service-home-container {
    padding-top: 90px;
    padding-bottom: 75px;
    width: 100%;
}


/*service home: position filters Service ID, Service Type, Service Status and Customer ID*/
.service-home-filter {
    margin-left: 80px;
    white-space: nowrap;
}

.service-home-filter section {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

/*service home: position transaction window and buttons: display, create, change and delete*/
.service-home-transaction-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*service home: position transaction window*/
.service-home-display-container {
    margin-left: 100px;
    margin-top: 20px;
    min-height: calc(100vh - 90px - 50px - 75px - 75px);
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}

/*align transaction table and messages*/
.transaction-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(100vh - 90px - 50px - 75px - 75px);
}


/*service home: position buttons: display, create, change and delete*/
.service-home-buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 100px;
    min-height: calc(100vh - 90px - 50px - 75px - 75px);
}

/*set table width for headers in transaction window, border-spacing 0*/
.service-home-container-table {
    top: 0;
    width: 100%;
    border-spacing: 0;
}

/*for screens wider than 1200px margin between transactiontable and buttons is 70px*/
@media screen and (min-width: 1200px) {
    .service-home-buttons {
        margin-left: 70px;
    }
}

/*for screens wider than 1600px margin between transactiontable and buttons is 100px*/
@media screen and (min-width: 1600px) {
    .service-home-buttons {
        margin-left: 100px;
    }
}