/*User: determine container/space between header and footer*/
.user-password-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 75px;
    width: 100%;
    overflow: auto;
}

.user-password-form-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.user-password-form-form section {
    margin: 10px;
    height: 100%;
}

.user-password-input-component {
    width: 350px;
    height: 20px;
    border: 1px solid black;
}

.user-password-input-component:read-only {
    width: 350px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}

@media screen and (min-width: 1200px) {
    .user-password-form-form section {
        margin: 15px;
    }

    .user-password-input-component {
        width: 400px;
    }

    .user-password-input-component:read-only {
        width: 400px;
    }

}


@media screen and (min-width: 1600px) {
    .user-password-form-form section {
        margin: 20px;
    }

    .user-password-input-component {
        width: 500px;
    }

    .user-password-input-component:read-only {
        width: 500px;
    }

}


