.login-container img {
    /*Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /*Set up proportionate scaling */
    width: 100%;
    height: auto;

    /*Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

/* Style the button and place it in the middle of the container/image */
.login-button {
    position: absolute;
    top: 50%;
    left: 75%;
    background-color: #fff;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

.container .login-button:hover {
    background-color: grey;
}