.login-container img {
    /*Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /*Set up proportionate scaling */
    width: 100%;
    height: auto;

    /*Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 65%;
    height: 200px;
    width: 300px;
    background-color: #fff;
    border: solid black 2px;
}


/* Style the button and place it in the middle of the container/image */
.login-fields {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
    border: solid black 1px;
}

.message-login {
    position: absolute;
    left: auto;
    bottom: 0;
    color: red;
    animation: fadeIn 1s linear;
}


/*fadeIn error message*/
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}