/*reporting: determine container/space between header and footer*/
.reporting-home-container {
    padding-top: 90px;
    padding-bottom: 75px;
    width: 100%;
}

/*reporting: position filters Customer ID and Lastname*/
.reporting-home-filter {
    margin-left: 80px;
    white-space: nowrap;
}

.reporting-home-filter section {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

/*reporting: position transaction window and buttons: display, create, change and delete*/
.reporting-home-transaction-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/*reporting home: position transaction window*/
.reporting-home-display-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    min-height: calc(100vh - 90px - 50px - 75px - 75px);
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}

/*align transaction table and messages*/
.transaction-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(100vh - 90px - 50px - 75px - 75px);
}

/*set table width for headers in transaction window, border-spacing 0*/
.reporting-home-container-table {
    top: 0;
    width: 100%;
    border-spacing: 0;
}

