/*set header container size and draw line from left to right over screen*/
div .footer-container {
    display: block;
    position: fixed;
    bottom: 0;
    height: 45px;
    left: 0;
    right: 0;
    background-color: #718EBA;
    border-top: 2px solid #718EBA;
    z-index: 998;
}