html {
    width: 100%;
}

body {
    /*overflow: hidden;*/
    min-height: 100vh;
    margin: 0;
}

input, label {
    display: block;
}


/*position error message below inputfields on create and display pages */
.message-home {
    position: absolute;
    left: calc(50% - 150px);
    transform: translate(-50%, 0);
    margin: 5px 5px 5px 5px;
    color: red;
    animation: fadeIn 1s linear;
}

/*fadeIn dropdown-content when pointer is on menu icon*/
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
