html {
    width: 100%;
}

body {
    overflow: auto;
    min-height: 100vh;
    margin: 0;
}


/*position error message below inputfields on create, change and display pages */
.message-error {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%);
    color: red;
    animation: fadeIn 1s linear;
}


/*position of message loading in transaction table while data is loading*/
.message-loading-home {
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: black;
    animation: fadeIn 1s linear;
}


/*position message centered under transaction table*/
.message-home {
    position: absolute;
    bottom: 65px;
    width: calc(100% - 400px);
    text-align: center;
    color: red;
    animation: fadeIn 1s linear;

}

/*fadeIn dropdown-content when pointer is on menu icon*/
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
