/*User: determine container/space between header and footer*/
.user-roles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 75px;
    width: 100%;
    overflow: auto;
}

.user-roles-form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 20px;
}

.user-roles-form section {
    margin: 20px;
    height: 100%;
}

.user-roles-input-component {
    width: 200px;
    height: 20px;
    border: 1px solid black;
}

.user-roles-input-component:read-only {
    width: 200px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}

.user-roles-checkbox {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}


.user-roles-checkbox section {
    width: 100%;
    margin: 3px 0;
}

.user-roles-checkbox section div {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-roles-checkbox input {
    margin-right: 20px;
}

.user-roles-checkbox label {
    margin-left: 20px;
}


@media screen and (min-width: 1200px) {
    .user-roles-checkbox section {
        margin: 5px 0;
    }


    .user-roles-input-component {
        width: 225px;
    }

    .user-roles-input-component:read-only {
        width: 225px;
    }
}


@media screen and (min-width: 1600px) {
    .user-roles-checkbox section {
        margin: 10px 0;
    }

    .user-roles-input-component {
        width: 250px;
    }

    .user-roles-input-component:read-only {
        width: 250px;
    }
}





