/*User: determine container/space between header and footer*/
.user-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 75px;
    width: 100%;
    overflow: auto;
}

.user-form-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.user-form-form section {
    margin: 10px;
    height: 100%;
}

.user-input-component {
    width: 500px;
    height: 20px;
    border: 1px solid black;
}

.user-input-component:read-only {
    width: 500px;
    height: 20px;
    background-color: #C4C4C4;
    border: 1px solid black;
}


/*for screens wider than 1200px */
@media screen and (min-width: 1200px) {
    .user-form-form section {
        margin: 15px;
    }
}

/*for screens wider than 1600px*/
@media screen and (min-width: 1600px) {
    .user-form-form section {
        margin: 20px;
    }

}