/*Homepage buttons positioning*/
.homepage-container {
    background: linear-gradient(#5D779E, #718EBA);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*Homepage buttons positioning / spacing*/
.homepage-button {
    margin: 30px;
}

@media screen and (min-width: 1200px) {
    .homepage-button {
        margin: 40px;
    }
}

@media screen and (min-width: 1600px) {
    .homepage-button {
        margin: 50px;
    }
}